<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hp/IdeaProjects/APIAutomation">
        <classes>
            <class name="com.thetestingacademy.ex_19062025.CRUD.PUT.NONBDDStyle">
            </class>
            <class name="com.thetestingacademy.ex_19062025.CRUD.testing.Test1">
            </class>
            <class name="com.thetestingacademy.ex_19062025.CRUD.testing.Test2">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG001">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG002">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG003">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG004">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG005">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG006">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG007">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.testNG008">
            </class>
            <class name="com.thetestingacademy.ex_20062025_testngexamples.CRUD.TestCaseIntegration">
            </class>
        </classes>
    </test>
</suite>